*{
    margin: 0;padding: 0;
}
#box{
    width: 100%;height: 2600px;overflow: hidden;
    /* background-color: aqua; */
}
.top{
    width: 100%;height: 80px;overflow: hidden;
}
.center{
    width: 1000px;height: 100%;margin: auto;
}
.top h1{
    text-indent: -999em;float: left;
}
.top img{
    float: left;margin-top: 8px;margin-left: 10px;
}
.top ul{
    margin-left: 40px;
    float: left;
    list-style-position: inside;
    list-style-type: none;

}
.top li{
    float: left;
    width: 95px;
    height: 60px; 
    text-align: center;
    line-height: 80px;
    border: 1px solid white;

}
.top a{
    text-decoration: none;
    color: black;
    display: block;
}
.top a:hover{
    color: #ff6b13;

}
.top li:hover{
    border-bottom-color: #ff6b13;
}
.top .den{
    float: right;width: 100px;height: 100%;
}
.top .den a{
    float: left;text-decoration: none;color: #000;
}
.top .den a p{
    line-height: 80px;font-size: 12px;
}
.top .den span{
    float: left;line-height: 80px;
}
.tu{
    width: 100%;height:670px;
}
.tu{
    width: 100%;height: 670px;background-size: 100% 100%;
}
.T1{
    width: 100%;height: 714px;overflow: hidden;
}
.T1 h2{
    text-align: center;margin-top: 74px;font-size: 34px;line-height: 34px;margin-bottom: 46px;
}
.T1 .PT{
    font-size: 24px;line-height: 24px;text-align: center;color: #8b898a;margin-bottom: 76px;
}
.T1 .T1-1{
    width: 220px;height: 450px;float: left;margin-left: 56px;margin-right: 60px;
}
.T1-1 h4{
    font-size: 24px;line-height: 24px;margin-top: 46px;text-align: center;
}
.T1-1 .v{
    font-size: 12px;line-height: 20px;margin-top: 24px;color: #8b8b8b;text-align: center;
}
.T2{
    background-color: #f2f2f2;width: 100%;height: 864px;overflow: hidden;
}
.T2 h4{
    font-size: 32px;line-height: 32px;text-align: center;margin-top: 94px;
}
.T2 .XX{
    text-align: center;font-size: 24px;line-height: 24px;color:#8b898a;margin-top: 46px;margin-bottom: 104px;
}
