#box{
    overflow: hidden;
} 
a{
    color: #000;
}
.qingchu::after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.center{
    width: 1200px;height: 100%;margin: auto;
    /* background-color: darkgrey; */
}
.daohang{
    position: fixed;right: 20px;top: 35%;z-index: 5;
}
.daohang ul li{
    width: 80px;height: 80px;position: relative;
}
.daohang ul li p{
    position: absolute;bottom: 10px;left: 14px;color: #000;font-size: 12px;line-height: 12px;color: #9b9b9b;
}
.daohang ul .one{
    background: url(../images/images/icon-about-0.png) no-repeat center 10px white;
}
.daohang ul .two{
    background: url(../images/images/icon-kefu-0.png) no-repeat center 15px white;
}
.daohang ul .two:hover{
    background: url(../images/images/icon-kefu-1.png) no-repeat center 15px white;
}
.daohang ul .three{
    background: url(../images/images/icon-appdl-0.png) no-repeat center 15px white;
}
.daohang ul .three:hover{
    background: url(../images/images/icon-appdl-1.png) no-repeat center 15px white;
}
.daohang ul .four{
    background: url(../images/images/icon-totop-0.png) no-repeat center 15px white;
}
.daohang ul .four:hover{
    background: url(../images/images/icon-totop-1.png) no-repeat center 15px white;
}
.daohang ul .one:hover{
    background: url(../images/images/icon-about-1.png) no-repeat center 20px white;
}
.daohang ul li:hover p{
    color: #ffa000;
}
.daohang ul li img{
   width: 100px;height: 100px;position: absolute;left: -110px;display: none;
}
.daohang ul li:hover img{
    display: block;
}
.box1{
    padding: 16px 0px 20px 0px;width: 100%;position: fixed;background-color: white;z-index: 5;
}
.box1 h1{
    float: left;text-indent: -999em;
}
.box1 img{
    float: left;
}
.box1 p{
    font-size: 12px;line-height: 32px;float: left;margin-left: 15px;color: #ffa000
}
.box1 ul{
    float: right;
}
.box1 ul li{
    padding: 0px 30px;float: left;line-height: 32px;
}
.box1 ul li a{
    display: block;color: #000;
}
.box1 ul li:hover a{
    color: #ffa000;
}
.box2{
    background: url(../images/images/banner.png) no-repeat center center;margin-top: 68px;
}
.box2 ul{
    background: #cccccc;width: 240px;padding: 10px;
}
.box2 ul li{
    height: 66px;text-align: center;line-height: 66px;
}
.box2 ul li a{
    color: white;display: block;
}
.box2 ul .one{
    background: url(../images/images/icon-b-1.png) no-repeat 55px 20px;
}
.box2 ul .two{
    background: url(../images/images/icon-b-2.png) no-repeat 55px 20px;
}
.box2 ul .three{
    background: url(../images/images/icon-b-3.png) no-repeat 55px 20px;
}
.box2 ul .four{
    background: url(../images/images/icon-b-4.png) no-repeat 55px 20px;
}
.box2 ul .five{
    background: url(../images/images/icon-b-5.png) no-repeat 55px 20px;
}
.box2 ul li:hover{
    background-color: #aaaaaa;
}
.box2 ul li .er{
    width: 440px;height: 350px;position: absolute;left: 420px;top: 68px; background-color: #aaaaaa;display: none;
}
.box2 ul li .er a{
    display: inline-block;width: 120px;height: 30px;line-height: 30px;text-align: center;
}
.box2 ul li:hover .er{
    display: block;
}
.box3{
    height: 180px;
}
.box3 .center div{
    width: 16%;height: 100%;position: relative;display: inline-block;}
.box3 .center div p{
    position: absolute;left: 40px;bottom: 40px;text-align: center;
}
.box3 .tu1{
    background: url(../images/images/icon-proimse-1.png) no-repeat center 40px;
}
.box3 .tu2{
    background: url(../images/images/icon-proimse-2.png) no-repeat center 40px;
}

.box3 .tu3{
    background: url(../images/images/icon-proimse-3.png) no-repeat center 40px;
}

.box3 .tu4{
    background: url(../images/images/icon-proimse-4.png) no-repeat center 40px;
}
.box3 .tu5{
    background: url(../images/images/icon-proimse-5.png) no-repeat center 40px;
}
.box3 .tu6{
    background: url(../images/images/icon-proimse-6.png) no-repeat center 40px;
}
.box4 h3{
    float: left;font-size: 28px;line-height: 28px;padding: 20px;
}
.box4 .ci{
    font-size: 12px;line-height: 12px;float: left;margin-top: 35px;
}
.box4 .biao{
    width: 100%
}
.box4  img{
    width: 100%;height: auto;
}
.box4 .tu1{
    position: relative;margin: 10px 0px;float: left;width: 540px;height: 360px;
}
.box4 .tu1 p{
    position: absolute;color: white;display: block;height: 80px;background-color: #555555;bottom: 0px;width: 540px;line-height: 80px;text-align: center;
}
.box4 .tu2{
    position: relative;margin: 10px;width: 260px;height: 176px;
}
.box4 .tu2 p{
    position: absolute;color: white;display: block;height: 60px;background-color: #555555;bottom: 0px;width: 260px;line-height: 60px;text-align: center;
}
.box4 .tu3{
    position: relative;margin: 10px;width: 260px;height: 176px;
}
.box4 .tu3 p{
    position: absolute;color: white;display: block;height: 60px;background-color: #555555;width: 260px;line-height: 60px;text-align: center;bottom: 2px;
}
.box5{
    padding: 20px 0px;
}

.box5 ul {
    float: left;
}

.box5 ul li {
    float: left;
    padding: 0px 15px;
}
.box5 ul li::before{
    content: "      -       "
}
.box5 ul .yi::before{
    content: ""
}

.box5 span {
    display: block;
    float: right;
}

.box5 .lala {
    float: left;
    width: 570px;
    height: 160px;
    margin: 20px 10px;
    text-align: left;
}

.box5 .lala img {
    float: left;
}

.box5 .lala .lazi {
    float: right;
    width: 300px;
}

.box5 .lala .lazi h4 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
}

.box5 .lala .lazi span {
    font-size: 10px;
    line-height: 10px;
    color: #c8c8d4;
    display: block;
    float: left;
    margin-right: 40px;
    margin-top: 10px;
}

.box5 .lala .lazi p {
    font-size: 12px;
    line-height: 24px;
    margin-top: 30px;
}
.box6{
    background-color: #f8f8f8;
}
.box6 h3{
    float: left;font-size: 28px;line-height: 28px;padding: 20px;
}
.box6 .ci{
    font-size: 12px;line-height: 12px;float: left;margin-top: 35px;
}
.box6 .biao{
    width: 100%;position: relative;
}
.box6 .biao .wei{
    font-size: 12px;color: #9b9b9b;position: absolute;bottom: 25px;right: 0px;; 
}
.box6 .help{
    position: relative;margin: 15px 0px;height: 180px;
}
.box6 .help img{
    position: absolute;
}
.box6 .help h4{
    z-index: 2;position: absolute;left: 250px;top: 50px;font-size: 28px;font-weight: bold;
}
.box6 .help .p1{
    z-index: 2;position: absolute;left: 250px;bottom: 50px;
}
.box6 .help a{
    display: block;width: 180px;height: 60px;position: absolute;top: 60px;right: 150px;background-color: #ffa000;text-align: center;
}
.box6 .help a .p2{
    line-height: 60px;color: white;
}
.box6 .help a div{
    position: absolute;top: -230px;width: 180px;height: 210px;background-color: wheat;display: none;
}
.box6 .help a div .p3{
    margin: 10px;
}
.box6 .help a div img{
    width: 140px;height: 140px;position: absolute;bottom: 10px;left: 20px;
}
.box6 .help a:hover div{
    display: block;
}
.box6 .tu1{
    width: 270px;height: 336px;margin: 30px 40px 30px 0px;float: left;
}
.box6 .tu1 span{
    display: block;width: 270px;height: 180px;background: no-repeat;color: white;line-height: 180px;text-align: center;background-size: 100% 100%
}
.box6 .tu1 ul{
    border-bottom: 1px dashed #e5e5e5;
}
.box6 .tu1 ul li{
    width: 64px;height: 26px;text-align: center;line-height: 26px;margin: 15px 12px 15px 0px;float: left;background-color: #fdf2e9;
}
.box6 .tu1 p{
    display: block;height: 18px;background: url(../images/images/icon-q.png) no-repeat;padding: 0px 10px 0px 28px;line-height: 18px;margin-top:12px; 
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.box7 h3{
    float: left;font-size: 28px;line-height: 28px;padding: 20px;
}
.box7 .ci{
    font-size: 12px;line-height: 12px;float: left;margin-top: 35px;
}
.box7 .biao{
    width: 100%;position: relative;
}
.box7 .tutu{
    background: url(../images/images/bg-counsoler.png) no-repeat;width: 1200px;height: 350px;position: relative;
}
.box7 .tutu .kuai{
   width: 366px;height: 290px;position: absolute;background-color: #07131b;left: 30px;top: 30px;
}
.box7 .tutu .kuai h5{
    text-align: center;margin: 30px 45px 0px 45px;font-size: 18px;line-height: 18px;color: white;
}
.box7 .tutu .kuai .an{
    padding: 35px;
}
.box7 .tutu .kuai .an p{
    display: block;width: 90px;height: 36px;background-color: white;text-align: center;line-height: 36px;float: left;margin-bottom: 10px;margin-right: 10px;
}
.box7 .tutu .kuai .an p:hover{
    background-color: #ffa000;
}
.box7 .tutu .kuai .an p:hover a{
    color: white
}

.box8 .bang{
    display:block;width: 100px;height: 12px; font-size: 12px;line-height: 12px;float: left;margin: 30px 0px;
}
.box8 .biao .bang::before{
    content: "-"
}
.box8 .biao{
    width: 100%;position: relative;
}
.box8 .biao .wei{
    font-size: 12px;color: #9b9b9b;position: absolute;bottom: 25px;right: 0px;; 
}
.box8 .biao .bang:hover{
    color: #ffa000;
}
.box8 .zhao{
    width: 224px;height: 274px;margin-right: 20px;margin-bottom: 30px;
    float: left;background: no-repeat ;background-size: 100% 100%;position: relative;
}
.box8 .zhao .min{
    position: absolute;bottom: 15px;left: 80px;color: white;
}
.box8 .zhao .hou{
    padding: 20px;background: #ffa000;display: none;height: 234px;
}
.box8 .zhao .hou h6{
    font-size: 24px;line-height: 24px;margin-bottom: 20px;color: white;
}
.box8 .zhao .hou p{
    font-size: 12px;line-height: 12px;margin-bottom: 16px;color: white;
}
.box8 .zhao:hover .hou{
    display: block;
}
.box8 .kankan{
    position: relative;margin: 15px 0px;height: 180px;float: left;width: 100%;
}
.box8 .kankan img{
    position: absolute;
}
.box8 .kankan h4{
    z-index: 2;position: absolute;left: 250px;top: 50px;font-size: 28px;font-weight: bold;
}
.box8 .kankan .p1{
    z-index: 2;position: absolute;left: 250px;bottom: 50px;font-size: 22px;
}
.box8 .kankan a{
    display: block;width: 180px;height: 60px;position: absolute;top: 40px;right: 150px;background-color: #ffa000;text-align: center;
}
.box8 .kankan a .p2{
    line-height: 60px;color: white;
}
.box8 .kankan .p3{
    position: absolute;bottom: 40px;right: 145px;
}
.box9 h3{
    font-size: 18px;line-height: 18px;padding: 20px;margin-top: 10px;float: left;
}
.box9 .biao{
    width: 100%;position: relative;
}
.box9 .biao .wei{
    font-size: 12px;color: #9b9b9b;position: absolute;bottom: 20px;right: 0px;; 
}
.box9 .xin{
    list-style-position: inside;list-style: disc;
}
.box9 .xin li{
    display: block; width: 340px;height: 80px;padding: 20px;background: url(../images/images/bg-report-1.png) no-repeat;margin-right: 30px;float: left;
}
.box9 .he li{
   display: block; background: no-repeat center center white;width: 150px;height: 70px;margin-right: 30px;margin-bottom: 50px;float: left;border: 1px solid #ededed;
}
.box10{
    background-color: #1b1b1b;padding: 50px 0px;
}
.box10 .shang{
    border-bottom: 1px solid #333333;padding-bottom: 55px; 
}
.box10 .shang ul li{
    display: block;width: 100px;height: 38px;color: #a4a4a4;background-color: #323232;text-align: center;line-height: 38px;float: left;margin-bottom: 20px;
}
.box10 .shang ul li:hover{
    background-color: #494949;
}
.box10 .shang span{
    margin-right: 36px;color: #5b5b5b;
}
.box10 .zhong{
    border-bottom: 1px solid #333333;padding-bottom: 55px; 
}
.box10 .zhong ul{
    float: left;width: 160px;margin-top: 36px;
}
.box10 .zhong ul p{
    font-size: 12px;line-height: 12px;margin-bottom: 20px;color: white;
}
.box10 .zhong ul li{
    font-size: 10px;color: #c8c8c8;line-height: 10px;margin-bottom: 16px;
}
.box10 .zhong .you{
    float: right;margin-top: 36px;
}
.box10 .zhong .you h6{
    font-size: 18px;line-height: 18px;margin-bottom: 24px;color: white;
}
.box10 .zhong .you .num{
    font-size: 20px;line-height: 20px;color: white;margin-bottom: 40px;
}
.box10 .zhong .you .an{
    display: block;width: 140px;height: 40px;background-color: #444444;margin-right: 15px;border: 1px solid #666666;text-align: center;line-height: 40px;color: white;float: left;position: relative;
}
.box10 .zhong .you .an img{
    position: absolute;width: 170px;height: 170px;padding: 10px;top: -195px;left: -25px;display: none;
}
.box10 .zhong .you .an:hover img{
    display: block;
}
.box10 .xiawei{
    padding-bottom: 55px; position: relative;min-height: 60px;
}
.box10 .xiawei img{
    position: absolute;left: 275px;top: 54px;
}
.box10 .xiawei .banhao{
    position: absolute;left: 450px;top: 60px;
}

.box10 .xiawei .banhao{
    font-size: 12px;color: #333333;text-align: center;
}