main{
    .center{
        width: 970px;
        .box2{
            width: 310px;
        }
        .box1{
            width: 620px;
        }
    }
}
footer{
    .xia{
        width: 960px;
        .box3-0{
            width: 280px;
        }
    }
}