@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}

header a {
  display: block;
  position: absolute;
  top: 38px;
}

header .an {
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(50% - 20px);
  background: white;
  bottom: 0px;
  font-size: 40px;
  display: none;
  line-height: 40px;
  border-bottom: 2px solid #ccc;
}

header ul {
  display: flex;
  align-self: flex-end;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #f1f1f1;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

header ul li {
  width: 70px;
  height: 58px;
  position: relative;
  box-sizing: border-box;
}

header ul li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 70px;
  color: black;
}

header ul li:first-child {
  border-bottom: 2px solid #e67e22;
}

header ul li:hover a {
  color: #e67e22;
}

main {
  background: #ebebeb;
  width: 100%;
}

main .center {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

main .center .fan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

main .center .fan a {
  display: inline-block;
  padding: 12px 15px;
  background: #e67e22;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  margin: 0px 5px;
}

main .center .box2 {
  width: 360px;
  overflow: hidden;
  height: 100%;
}

main .center .box2 .box2-0 {
  width: 100%;
  background: white;
  padding: 0px 30px 25px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  box-sizing: border-box;
}

main .center .box2 .box2-0 .ti {
  padding: 22px 0px 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

main .center .box2 .box2-0 .ti span {
  display: block;
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  bottom: -1px;
}

main .center .box2 .box2-1 p, main .center .box2 .box2-1 a {
  margin-top: 25px;
  font-size: 12px;
}

main .center .box2 .box2-1 a {
  color: #e67e22;
}

main .center .box2 .box2-2 a {
  display: block;
  width: 100%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #e67e22;
  color: white;
  margin-top: 22px;
}

main .center .box2 .box2-2 a:hover {
  background: #333;
  transition: all 0.6s;
}

main .center .box2 .box2-3 {
  display: block;
}

main .center .box2 .box2-3 .ti {
  margin-bottom: 10px;
}

main .center .box2 .box2-3 a {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #959595;
  margin-top: 5px;
  margin-right: 5px;
}

main .center .box2 .box2-3 a:hover {
  background: #e67e22;
  transition: all 0.6s;
  color: white;
}

main .center .box1 {
  width: 750px;
  overflow: hidden;
}

main .center .box1 .one {
  width: 100%;
  background: white;
  padding: 0px 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  box-sizing: border-box;
}

main .center .box1 .one h3 {
  font-size: 26px;
  padding: 20px;
  line-height: 26px;
  color: black;
}

main .center .box1 .one p {
  font-size: 12px;
  color: #959595;
  margin-bottom: 40px;
}

main .center .box1 .one p a {
  color: #e67e22;
}

main .center .box1 .one img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

main .center .box1 .one .dian {
  margin: 35px 0px;
  display: block;
  width: 85px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #e67e22;
  color: white;
  align-self: flex-start;
  font-size: 14px;
}

main .center .box1 .one .dian:hover {
  background: #333;
  transition: 0.6s;
}

main .center .box1 .one .xian {
  height: 1px;
  width: 100%;
  background: #ccc;
}

main .center .box1 .one .momo {
  width: 26px;
  height: 28px;
  margin-top: 20px;
  align-self: flex-start;
  background: url(../img/QQ截图20190802221834.png);
}

footer {
  width: 100%;
  background: #202020;
}

footer .xia {
  width: 1100px;
  height: 370px;
  margin: 0 auto;
  padding: 30px 0px 35px;
  display: flex;
  justify-content: space-between;
}

footer .xia .box3-0 {
  width: 300px;
  padding: 0px 30px 25px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  box-sizing: border-box;
}

footer .xia .box3-0 .ti {
  padding: 22px 0px 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #505050;
  color: white;
  margin-bottom: 10px;
}

footer .xia .box3-0 .ti span {
  display: block;
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  bottom: -1px;
}

footer .xia .box3-1 .wen {
  padding: 5px 0px 20px;
  height: 96px;
  box-sizing: border-box;
  border-bottom: 1px dashed #303030;
}

footer .xia .box3-1 .wen a {
  color: #959595;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
}

footer .xia .box3-1 .wen span {
  color: #505050;
  font-size: 12px;
  line-height: 12px;
  display: block;
  margin-top: 15px;
}

footer .xia .box3-2 {
  display: block;
}

footer .xia .box3-2 a {
  display: inline-block;
  padding: 5px;
  border: 1px solid #303030;
  font-size: 12px;
  color: #959595;
  margin-top: 5px;
  margin-right: 5px;
}

footer .xia .box3-2 a:hover {
  background: #e67e22;
  transition: all 0.6s;
  color: white;
}

footer .xia .box3-3 {
  display: block;
}

footer .xia .box3-3 .fen {
  padding: 5px 0px 20px;
  border-bottom: 1px dashed #303030;
}

footer .xia .box3-3 .fen a {
  display: inline-block;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 12px;
  color: #959595;
}

footer .xia .box3-3 .fen a:hover {
  background: #e67e22;
  color: white;
  transition: all 0.6s;
}

footer .di {
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

footer .di p {
  font-size: 12px;
  color: #555555;
}

nav {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 15px;
  background: #e67e22;
  width: 40px;
  height: 40px;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 40px;
}

nav:hover {
  background: orange;
}
