main{
    .center{
        width: 750px;flex-direction: column-reverse;
        .box2{
            width: 100%;
        }
        .box1{
            width: 100%;
        }
    }
}
footer{
    .xia{
        height: 100%;width: 750px;
        .box3-0{
            width: 220px;box-sizing: border-box
        }
    }
    .xia{
        width: 100%;display: flex;
    }
}