main .center {
  width: 750px;
  flex-direction: column-reverse;
}

main .center .box2 {
  width: 100%;
}

main .center .box1 {
  width: 100%;
}

footer .xia {
  height: 100%;
  width: 750px;
}

footer .xia .box3-0 {
  width: 220px;
  box-sizing: border-box;
}

footer .xia {
  width: 100%;
  display: flex;
}
